{{my_jss.id}}번째 글입니다.

<br>

제목: {{my_jss.title}}

<br>

내용: {{my_jss.content}}

<br>

작성자: {{my_jss.author}}

<br>

생성시간: {{my_jss.updated_at|date:"Y-m-d"}}

<br>

{% if user == my_jss.author %}
<a href="{% url 'update' my_jss.id %}">
    <button>수정</button>
</a>
<br>
<a href="{% url 'delete' my_jss.id %}">
    <button>삭제</button>
</a>
{% endif %}

<br>

{% if user.is_authenticated %}
<form action="{% url 'create_comment' my_jss.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="확인">
</form>
{% endif %}

<br>

{% for comment in my_jss.comments.all %}
<p>
    {{ comment.author }} 🔊 {{ comment.content }}
    {% if user == comment.author %}
    <a href="{% url 'delete_comment' my_jss.id comment.id %}">
        <button>삭제</button>
    </a>
    {% endif %}
</p>

{% endfor %}

<br>
<a href="{% url 'index' %}">돌아가기</a>