body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body p {
    font-size: 10vh;
}

.pop-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background: #e0e600;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up.show {
    visibility: visible;
}